{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  	<title>ChefSupport</title>

	<script type="text/javascript" src="{% static 'coloring/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'coloring/vendors/paper/paper-full.min.js' %}"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap" rel="stylesheet">	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


	<style type="text/css">
	* {
		font-family: 'Quicksand', sans-serif;
	}

	html, body {
		margin: 0; height: 100%; overflow: hidden
	}


	.container {
		background-color: #D3D3D3;
		min-width: 100vw;
		min-height: 98vh;
	}

	.section {
		background-color: #F7EDE2;
		height: 80vh;
		border-radius: 25px;
	}	

	.accent {
		background-color: #A6D3A0;
		border-radius: 25px;
	}

	.hr {
		background-color: black;
	}

	.dropdown {
		height: 8vh;
		display: flex;
    	align-items: center;
	}

	.find-recipe {
		position: absolute;
		bottom: 16px;
		right: 28px;
	}

	.find-recipe-container {
		position: relative;
	}

	.plus {
		font-size: 32px;
	}

	.dropdown-menu{
		max-height: 400px;
		overflow-y: auto;
	}


	</style>
	<script>

	function addIngredient() {

	}


	function findRecipe() {


	}
	
	</script>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="new_interaction.html">ChefSupport</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		  <div class="navbar-nav ml-auto">
			<a class="nav-item nav-link" href="homescreen.html">Find a recipe from ingredients</a>
			<a class="nav-item nav-link" href="ingredients.html">Find ingredients for a recipe</a>
		  </div>
		</div>
	</nav>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-5 mt-4 mr-5">
				<div class="h4">Enter your ingredients</div>
			</div>
			<div class="col-5 mt-4 ml-5">
				<div class="h4">Your ingredients (0)</div>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-5 mt-2 mr-5 p-4 section">
				<input class="form-control w-25 accent mt-2" type="text" placeholder="Seach">
				<div class="ingredients-container mt-4">
					<hr>
					<div class="dropdown">
						<div class="h4">Dairy</div> 
						<div class="btn-group dropleft ml-auto">
							<button class="btn plus" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">+</button>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="#">butter</a>
								<a class="dropdown-item" href="#">eggs</a>
								<a class="dropdown-item" href="#">cheese</a>
								<a class="dropdown-item" href="#">milk</a>
								<a class="dropdown-item" href="#">yogurt</a>
								<a class="dropdown-item" href="#">cream cheese</a>
								<a class="dropdown-item" href="#">cottage cheese</a>
								<a class="dropdown-item" href="#">cheese</a>
								<a class="dropdown-item" href="#">ice cream</a>
							</div>
						</div>
					</div>
					<hr>
					<div class="dropdown">
						<div class="h4">Vegetables</div> 
						<div class="btn-group dropleft ml-auto">
							<button class="btn plus" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">+</button>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="#">onion</a>
								<a class="dropdown-item" href="#">garlic</a>
								<a class="dropdown-item" href="#">tomato</a>
								<a class="dropdown-item" href="#">lettuce</a>
								<a class="dropdown-item" href="#">potato</a>
								<a class="dropdown-item" href="#">carrot</a>
								<a class="dropdown-item" href="#">bell pepper</a>
								<a class="dropdown-item" href="#">basil</a>
								<a class="dropdown-item" href="#">broccoli</a>
								<a class="dropdown-item" href="#">corn</a>
								<a class="dropdown-item" href="#">spinach</a>
								<a class="dropdown-item" href="#">mushroom</a>
								<a class="dropdown-item" href="#">green beans</a>
								<a class="dropdown-item" href="#">celery</a>
								<a class="dropdown-item" href="#">avocado</a>
								<a class="dropdown-item" href="#">cilantro</a>
								<a class="dropdown-item" href="#">artichoke</a>
								<a class="dropdown-item" href="#">cabbage</a>
								<a class="dropdown-item" href="#">cauliflower</a>
								<a class="dropdown-item" href="#">kale</a>
								<a class="dropdown-item" href="#">asparagus</a>
							</div>
						</div>
					</div>
					<hr>
					<div class="dropdown">
						<div class="h4">Fruits</div> 
						<div class="btn-group dropup ml-auto">
							<button class="btn plus" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">+</button>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="#">lemon</a>
								<a class="dropdown-item" href="#">apple</a>
								<a class="dropdown-item" href="#">banana</a>
								<a class="dropdown-item" href="#">lime</a>
								<a class="dropdown-item" href="#">strawberry</a>
								<a class="dropdown-item" href="#">orange</a>
								<a class="dropdown-item" href="#">pineapple</a>
								<a class="dropdown-item" href="#">blueberry</a>
								<a class="dropdown-item" href="#">raisin</a>
								<a class="dropdown-item" href="#">coconut</a>
								<a class="dropdown-item" href="#">grape</a>
								<a class="dropdown-item" href="#">peach</a>
								<a class="dropdown-item" href="#">berries</a>
								<a class="dropdown-item" href="#">plum</a>
								<a class="dropdown-item" href="#">mango</a>
								<a class="dropdown-item" href="#">pear</a>
								<a class="dropdown-item" href="#">apricot</a>
								<a class="dropdown-item" href="#">watermlon</a>
								<a class="dropdown-item" href="#">pomegranate</a>
								<a class="dropdown-item" href="#">nectarine</a>
								<a class="dropdown-item" href="#">tangerine</a>
							</div>
						</div>
					</div>
					<hr>
					<div class="dropdown">
						<div class="h4">Baking + Grains</div> 
						<div class="btn-group dropup ml-auto">
							<button class="btn plus" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">+</button>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="#">rice</a>
								<a class="dropdown-item" href="#">pasta</a>
								<a class="dropdown-item" href="#">flour</a>
								<a class="dropdown-item" href="#">bread</a>
								<a class="dropdown-item" href="#">noodle</a>
								<a class="dropdown-item" href="#">ramen</a>
								<a class="dropdown-item" href="#">biscuits</a>
								<a class="dropdown-item" href="#">starch</a>
								<a class="dropdown-item" href="#">wheat</a>
								<a class="dropdown-item" href="#">cream of wheat</a>
								<a class="dropdown-item" href="#">cornbread</a>
								<a class="dropdown-item" href="#">cornflour</a>
								<a class="dropdown-item" href="#">pizza dough</a>
								<a class="dropdown-item" href="#">english muffin</a>
								<a class="dropdown-item" href="#">hot dog bun</a>
								<a class="dropdown-item" href="#">croutons</a>
								<a class="dropdown-item" href="#">ravioli</a>
								<a class="dropdown-item" href="#">gnocchi</a>
								<a class="dropdown-item" href="#">croissants</a>
								<a class="dropdown-item" href="#">buckwheat</a>
							</div>
						</div>
					</div>
					<hr>
					<div class="dropdown">
						<div class="h4">Protein</div> 
						<div class="btn-group dropup ml-auto">
							<button class="btn ml-auto plus" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">+</button>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="#">chicken</a>
								<a class="dropdown-item" href="#">beef</a>
								<a class="dropdown-item" href="#">bacon</a>
								<a class="dropdown-item" href="#">ham</a>
								<a class="dropdown-item" href="#">turkey</a>
								<a class="dropdown-item" href="#">pork</a>
								<a class="dropdown-item" href="#">pepperoni</a>
								<a class="dropdown-item" href="#">chorizo</a>
								<a class="dropdown-item" href="#">salami</a>
								<a class="dropdown-item" href="#">spam</a>
								<a class="dropdown-item" href="#">lamb</a>
								<a class="dropdown-item" href="#">prosciutto</a>
								<a class="dropdown-item" href="#">tuna</a>
								<a class="dropdown-item" href="#">salmon</a>
								<a class="dropdown-item" href="#">cod</a>
								<a class="dropdown-item" href="#">tilapia</a>
								<a class="dropdown-item" href="#">trout</a>
								<a class="dropdown-item" href="#">sardines</a>
								<a class="dropdown-item" href="#">anchovies</a>
								<a class="dropdown-item" href="#">shrimp</a>
								<a class="dropdown-item" href="#">crab</a>
								<a class="dropdown-item" href="#">prawns</a>
								<a class="dropdown-item" href="#">scallops</a>
								<a class="dropdown-item" href="#">clams</a>
								<a class="dropdown-item" href="#">lobster</a>
								<a class="dropdown-item" href="#">mussels</a>
								<a class="dropdown-item" href="#">oysters</a>
								<a class="dropdown-item" href="#">squid</a>
							</div>
						</div>
					</div>
					<hr>
				</div>
			</div>
			<div class="col-5 mt-2 ml-5 p-5 find-recipe-container section">
				<ul>
					<li>Something1</li>
					<li>Something2</li>
					<li>Something3</li>
				</ul>
				<button type="button" class="btn mb-2 find-recipe accent">Find a Recipe</button>
			</div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>